<div class="abs-center">
  <form [formGroup]="fbValitador" (ngSubmit)="onSubmit()">
    <br>
    <br>
      <div id="form1">
          <img class="mb-4" src="assets/img/imagen4.jpg" alt="">
          <h1>Bienvenido a Alquimotor.</h1>
          <h3 class="h2 mb-3 fw-normal">Por favor ingresar sus datos para crear nuevo usuario:</h3>
      </div>  
      <br>
      <div class="row">
        <div class="col-md-6 form">
            <label for="nombre">Nombre: </label>
            <input id="nombre" type="text" formControlName="nombre" class="form-control" placeholder="Alberto">
        </div>
        <div class="col-md-6 form">
            <label for="apellido">Apellido: </label>
            <input id="apellido" type="text" formControlName="apellido" class="form-control" placeholder="Ramirez">  
        </div>
      </div>  
      <br>
      <div class="row">
        <div class="col-md-6 form">
          <label for="correo">Correo: </label>
          <input id="correo" type="text" formControlName="correo" class="form-control" placeholder="tu@ejemplo.com" aria-describedby="inputGroupPrepend">
        </div>
        <div class="col-md-6 form">
            <label for="celular">Celular: </label>
            <input id="celular" type="text" formControlName="celular" class="form-control" placeholder="3101234567">  
        </div>
      </div>
      <br>
      <div class="col-md-12 form">
        <label for="rol" class="form-label">Tipo de usuario</label>
        <select class="form-select" id="rol" type="text" formControlName="rol">
          <option selected disabled value="">Selecciona.....</option>
          <option>Administrador</option>
          <option>Asesor</option>
          <option>Cliente</option>
        </select>
      </div>
      <br>
      <div>
          <button type="submit" [disabled]="!fbValitador.valid" class="w-100 btn-primary float-end btn-lg btn-success">Ingresar</button>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; Alquimotor–2021</p>
      <br>
      <br>
  </form>
</div>



