<div class="container">
    <br>
    <br>
    <img class="mb-4" src="assets/img/imagen4.jpg" alt="">
    <h1 class="h3 mb-3 fw-normal">Mis Reservas</h1>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Vehiculo</th>
                <th>Punto Alquiler</th>
                <th>Fecha Recogida</th>
                <th>Fecha Entrega</th>
                <th>Valor Total</th>
                <th>Fecha Solicitud</th>
                <th>Estado</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of listadoRegistros">
                <td>{{s.vehiculosId}}</td>
                <td>{{s.puntoAlquilerId}}</td>
                <td>{{s.FechaRecogida}}</td>
                <td>{{s.FechaEntrega}}</td>
                <td>{{s.ValorTotal | number}}</td>
                <td>{{s.FechaSolicitud}}</td>                
                <td>{{s.Estado}}</td>
                <td><a class="btn btn-danger" routerLink="/administracion/eliminar-solicitud/{{s.id}}">Declinar</a></td>
                <td><a class="btn btn-danger" routerLink="/administracion/editar-solicitud/{{s.id}}">Editar</a></td>
            </tr>                    
        </tbody>
    </table>
    <br>
    <br>
    <button class="w-100 btn btn-lg btn-success" type="submit" routerLink="/administracion/cliente-vehiculo">Nueva Solicitud</button>
</div>

