<div class="container">
    <br>
    <br>
    <img class="mb-4" src="assets/img/imagen4.jpg" alt="">
    <h1 class="h3 mb-3 fw-normal">Mis Reservas</h1>
    <form name="form">
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Vehiculo</th>
                <th>Punto Alquiler</th>
                <th>Fecha Recogida</th>
                <th>Fecha Entrega</th>
                <th>Valor Total</th>
                <th>Fecha Solicitud</th>
                <th>Estado</th>
                <th></th>  
                <th></th>               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of listadoRegistros">
                <input type="hidden" id="idS" name="idS" value="{{s.id}}" #idS>
                <td>{{s.vehiculosTipo}}</td>
                <td>{{s.puntoAlquilerId}}</td>
                <td>{{s.FechaRecogida | date}}</td>
                <td>{{s.FechaEntrega | date}}</td>
                <td><strong>${{s.ValorTotal | number}}</strong></td>
                <td>{{s.FechaSolicitud | date}}</td>                
                <td>{{s.Estado}}</td>
                <input type="hidden" id="estadoS" name="estadoS" value="{{s.Estado}}" #estadoS>              
                <td *ngIf="estadoS.value == 'En estudio'"><a class="btn btn-secondary" (click)="Declinar(idS.value)">Declinar</a></td>
                <td *ngIf="estadoS.value == 'En estudio'"><a class="btn btn-secondary" routerLink="/administracion/editar-solicitud/{{s.id}}">Editar</a></td>
                <td *ngIf="estadoS.value == 'Aceptada'"><a class="btn btn-secondary" (click)="Pagar()">Pagar</a></td>
                <td *ngIf="estadoS.value == 'Aceptada'"></td>
            </tr>                    
        </tbody>
    </table>
</form>
    <br>
    <br>
    <button class="w-100 btn btn-lg btn-danger" type="submit" routerLink="/administracion/cliente-vehiculo">Nueva Solicitud</button>
</div>

