<div id="cabecera">
    <br>
    <h1>Detalle del Vehiculo</h1>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Datos Tecnicos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul><img src="{{Vehiculo.imagen}}" id="imagen" width="550" height="350"/></ul>
                </td>
                <td>
                    <br>
                    <br>
                    <br>
                    <li><strong>Tipo:   </strong>{{Vehiculo.Tipo}}</li>
                    <li><strong>Marca:   </strong>{{Vehiculo.Marca}}</li>
                    <li><strong>Modelo:   </strong>{{Vehiculo.Modelo}}</li>
                    <li><strong>Valor x día:   </strong>${{Vehiculo.ValorDia | number}}</li>
                    <li><strong>Punto Alquiler:   </strong>{{Vehiculo.puntoAlquilerId}}</li>
                    <li><strong>Descripción:   </strong>{{Vehiculo.Descripcion}}</li>
                    <li><strong>Disponibilidad:   </strong>{{Vehiculo.Disponibilidad && 'Disponible' || '¡Reservado!'}}</li>
                    <br>
                    <br>
                    <ul>
                        <button routerLink="/administracion/crear-solicitud/{{Vehiculo.id}}" class="w-100 btn-primary float-end btn-lg btn-success">Alquilar Vehiculo</button>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
</div>
