<br>
<br>
<div id="cabecera">
    <br>
    <h1>Vahiculos para Reservar:</h1>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Punto Alquiler</th>
                <th>Disponibilidad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of listadoVehiculos">
                <td><img src="{{v.imagen}}" class="rounded-circle" id="imagen"/></td>
                <td>{{v.Tipo}}</td>
                <td>{{v.Marca}}</td>
                <td>{{v.Modelo}}</td>
                <td>{{v.puntoAlquilerId}}</td>
                <td><strong>{{v.Disponibilidad && 'Disponible' || '¡ Reservado !'}}</strong></td>
                <td><a routerLink="/administracion/ver-vehiculo/{{v.id}}" class="btn btn-danger">Ver Detalles</a></td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
