<!-- <div class="abs-center">
    <!-- <form [formGroup]="fbValitador" (ngSubmit)="onSubmit()"></form> -->
    <!-- <form>
      <br>
      <br>
        <div id="form1">
            <h3 class="h2 mb-3 fw-normal">Por favor ingrese datos del nuevo vehiculos:</h3>
        </div>  
        <br>
        <div class="row">
          <div class="col-md-6 form">
              <label for="nombre">Imagen: </label>
              <input id="nombre" type="text" formControlName="nombre" class="form-control" placeholder="Alberto">
          </div>
          <div class="col-md-6 form">
              <label for="apellido">Descripcion: </label>
              <input id="apellido" type="text" formControlName="apellido" class="form-control" placeholder="Ramirez">  
          </div>
        </div>  
        <br>
        <div class="row">
          <div class="col-md-6 form">
            <label for="correo">Tipo: </label>
            <input id="correo" type="text" formControlName="correo" class="form-control" placeholder="tu@ejemplo.com" aria-describedby="inputGroupPrepend">
          </div>
          <div class="col-md-6 form">
              <label for="celular">Modelo: </label>
              <input id="celular" type="text" formControlName="celular" class="form-control" placeholder="3101234567">  
          </div>
        </div>
        <br>
        <div class="col-md-12 form">
          <label for="rol" class="form-label">Disponibilidad</label>
          <select class="form-select" id="rol" type="text" formControlName="rol">
            <option selected disabled value="">Selecciona.....</option>
            <option>Administrador</option>
            <option>Asesor</option>
            <option>Cliente</option>
          </select>
        </div>
        <div class="col-md-6 form">
            <label for="apellido">Valor: </label>
            <input id="apellido" type="text" formControlName="apellido" class="form-control" placeholder="Ramirez">  
        </div>
        <br> -->
        <!-- <div>
            <button type="submit" [disabled]="!fbValitador.valid" class="w-100 btn-primary float-end btn-lg btn-success">Ingresar</button>
        </div> -->
        <!-- <div>
            <button type="submit" class="w-100 btn-primary float-end btn-lg btn-success">Crear</button>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; Alquimotor–2021</p>
        <br>
        <br>
    </form>
  </div> --> -->


