<div class="abs-center">
  <form [formGroup]="fbValitador" (ngSubmit)="onSubmit()">
    <br>
    <br>
      <div id="form1">
          <img class="mb-4" src="assets/img/imagen4.jpg" alt="">
          <h1>Recuperar Clave.</h1>
          <h3 class="h2 mb-3 fw-normal">Por favor ingresar el correo con el que te registraste, enviaremos tu clave a este correo:</h3>
      </div>  
      <br>
      <div class="row">
        <div class="col-md-12 form">
            <label for="usuario">Correo Electónico: </label>
            <input id="usuario" type="text" formControlName="usuario" class="form-control" placeholder="tu@ejemplo.com">
        </div>
      </div>
      <div>
          <button type="submit" [disabled]="!fbValitador.valid" class="w-100 btn-primary float-end btn-lg btn-success">Enviar Solicitud</button>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; Alquimotor–2021</p>
      <br>
      <br>
  </form>
</div>





