<div class="container">
    <br>
    <br>
    <img class="mb-4" src="assets/img/imagen4.jpg" alt="">
    <h1 class="h3 mb-3 fw-normal">Reservas Asignadas</h1>
    <form name="form">
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Vehiculo</th>
                <th>Punto Alquiler</th>
                <th>Fecha Recogida</th>
                <th>Fecha Entrega</th>
                <th>Valor Total</th>
                <th>Fecha Solicitud</th>
                <th>Estado</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of listadoRegistros">
                <input type="hidden" id="idS" name="idS" value="{{s.id}}" #idS>
                <td>{{s.vehiculosId}}</td>
                <td>{{s.puntoAlquilerId}}</td>
                <td>{{s.FechaRecogida}}</td>
                <td>{{s.FechaEntrega}}</td>
                <td>{{s.ValorTotal | number}}</td>
                <td>{{s.FechaSolicitud}}</td>                
                <td>{{s.Estado}}</td>
                <input type="hidden" id="estadoS" name="estadoS" value="{{s.Estado}}" #estadoS> 
                <td><a *ngIf="estadoS.value == 'En estudio'" class="btn btn-secondary" (click)="Aceptar(idS.value)">Aceptar</a></td>
                <td><a *ngIf="estadoS.value == 'En estudio'" class="btn btn-secondary" (click)="Rechazar(idS.value)">Rechazar</a></td>
            </tr>                    
        </tbody>
    </table>
</form>
    <br>
    <br>   
</div>


