<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-danger" href="#">Alquimotor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vehiculo">Vehiculos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
      </ul>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngIf="usuarioRol === 'Cliente'" class="nav-item">
            <a class="nav-link" href="/administracion/cliente-vehiculo">Reservar</a>
          </li>
          <li *ngIf="usuarioRol === 'Cliente'" class="nav-item">
            <a class="nav-link" href="/administracion/buscar-solicitud">Mis Reservas</a>
          </li>
          <li *ngIf="usuarioRol === 'Administrador'" class="nav-item">
            <a class="nav-link" href="/administracion/buscar-vehiculo">Vehiculos</a>
          </li>
          <li *ngIf="usuarioRol === 'Administrador'" class="nav-item">
            <a class="nav-link" href="/administracion/crear-asesor">Asesor</a>
          </li>
          <li *ngIf="usuarioRol === 'Administrador'" class="nav-item">
            <a class="nav-link" href="/seguridad/recuperar-clave">Punto</a>
          </li>
          <li *ngIf="seInicioSesion" class="nav-item">
            <a routerLink="/seguridad/cerrar-sesion"><button class="btn btn-dark" type="submit">Cerrar Sesión</button></a>
          </li>
          <li *ngIf="!seInicioSesion" class="nav-item">
            <a routerLink="/administracion/crear-usuario"><button class="btn btn-danger" type="submit">Registro</button></a>
          </li>
          <li *ngIf="!seInicioSesion" class="nav-item">
            <a routerLink="/seguridad/identificar"><button class="btn btn-danger" type="submit">Inicio Sesión</button></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
