<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
</style>

<body class="d-flex h-100 text-center text-white bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
      <main class="px-3">
          <br>
          <br>
        <h1>CONTACTANOS.</h1>
        <br>
        <p class="lead">Cualquier duda que tengas sera resualta por un miembro de nuestro equipo.</p>
        <ul class="text-left text-white bg-dark">
            <li>Dirección: Carrera 13 # 25 -12, Bogotá</li>
            <li>Telefono: (571) 2335544</li>
            <li>Celular: 3102347689</li>
            <li>Correo: info@alquimotor.com</li>
        </ul>
      </main>
      <footer class="mt-auto text-white-50">
        <p>Siguenos en redes sociales <a href="https://facebook.com/" class="text-white">Facebook</a>, y <a href="https://twitter.com" class="text-white">twitter</a>.</p>
        <br>
      </footer>
      <img class="d-block mx-auto mb-12" src="assets/img/imagen3.jpg" alt="" >
      <br>
      <br>
      <br>
      <br>
    </div>
</body>
