<footer class="page-footer" class="green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Que dudas tienes de Alquimotor</h5>
          <p class="grey-text text-lighten-4">Reserva tu vehiculo de la forma más aguil!.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Paginas</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Vehiculos</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Nosotros</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>
