<div class="container">
  <br>
  <br>
  <br>
  <main class="form-signin">
    <form>
      <img class="mb-4" src="assets/img/imagen4.jpg" alt="">
      <h1 class="h3 mb-3 fw-normal">Por favor ingresar sus datos:</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Correo electrónico</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Clave</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recordarme
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-success" type="submit">Ingresar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
  </main>
</div>
